attrs==23.2.0
biopython==1.81
blinker==1.7.0
cachetools==5.3.2
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
crossrefapi==1.6.0
cssselect==1.2.0
distlib==0.3.7
docopt==0.6.2
et-xmlfile==1.1.0
eutils==0.6.0
filelock==3.13.1
fuzzywuzzy==0.18.0
gitdb==4.0.11
GitPython==3.1.41
habanero==1.2.3
humanfriendly==10.0
idna==3.6
iniconfig==2.0.0
Jinja2==3.1.3
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
Levenshtein==0.23.0
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
metapub==0.5.5
numpy==1.26.2
openpyxl==3.1.2
pandas==2.1.4
pillow==10.2.0
pluggy==1.3.0
protobuf==4.25.2
pubmed-author-affiliation==0.3
pyarrow==14.0.2
pydeck==0.8.1b0
pyproject-api==1.6.1
pytest==7.4.3
python-Levenshtein==0.23.0
pytz==2023.3.post1
rapidfuzz==3.5.2
referencing==0.32.1
rich==13.7.0
rpds-py==0.17.1
setuptools==68.2.2
smmap==5.0.1
soupsieve==2.5
streamlit==1.30.0
tabulate==0.9.0
tenacity==8.2.3
toml==0.10.2
toolz==0.12.0
tox==4.11.4
tqdm==4.66.1
tzdata==2023.3
tzlocal==5.2
Unidecode==1.3.7
urllib3==1.26.16
validators==0.22.0
virtualenv==20.25.0
wheel==0.42.0
xmltodict==0.13.0
altair==5.2.0
attrs==23.2.0
beautifulsoup4==4.12.2
biopython==1.81
blinker==1.7.0
bs4==0.0.2
cachetools==5.3.2
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
chromedriver-autoinstaller==0.6.4
chromedriver-py==120.0.6099.109
chromium==0.0.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
crossrefapi==1.6.0
cssselect==1.2.0
distlib==0.3.7
docopt==0.6.2
et-xmlfile==1.1.0
eutils==0.6.0
filelock==3.13.1
fuzzywuzzy==0.18.0
gitdb==4.0.11
GitPython==3.1.41
h11==0.14.0
habanero==1.2.3
html5lib==1.1
humanfriendly==10.0
idna==3.6
impact-factor==1.1.0
iniconfig==2.0.0
Jinja2==3.1.3
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
Levenshtein==0.23.0
limit==0.2.3
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
metapub==0.5.5
numpy==1.26.2
openpyxl==3.1.2
outcome==1.3.0.post0
pandas==2.1.4
pillow==10.2.0
pluggy==1.3.0
prettytable==3.9.0
protobuf==4.25.2
pubmed-author-affiliation==0.3
pyarrow==14.0.2
pybliometrics==3.6
pydeck==0.8.1b0
pyproject-api==1.6.1
PySocks==1.7.1
pytest==7.4.3
python-dotenv==1.0.1
python-Levenshtein==0.23.0
pytz==2023.3.post1
pyxlsb==1.0.10
rapidfuzz==3.5.2
referencing==0.32.1
requests==2.31.0
rich==13.7.0
rpds-py==0.17.1
selenium==4.17.2
setuptools==68.2.2
simple-loggers==1.0.5
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sql-manager==1.0.5
SQLAlchemy==2.0.25
streamlit==1.30.0
suds-py3==1.4.5.0
tabulate==0.9.0
tenacity==8.2.3
toml==0.10.2
toolz==0.12.0
tox==4.11.4
tqdm==4.66.1
trio==0.24.0
trio-websocket==0.11.1
tzdata==2023.3
tzlocal==5.2
Unidecode==1.3.7
urllib3==1.26.16
validators==0.22.0
virtualenv==20.25.0
webdriver-manager==4.0.1
webencodings==0.5.1
webrequests==1.0.8
wheel==0.42.0
wos==0.2.7
wsproto==1.2.0
XlsxWriter==3.1.9
xmltodict==0.13.0
